<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Action Message </title>
	<link rel="stylesheet" href="/trader/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/trader/resources/css/css.css" />
	<script  src="/trader/bootstrap/js/bootstrap.js"></script>
</head>
<body>

	<div class="container">
		
		<div class="page-header">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<h1><a href="">Global Trader</a> <small>Best Time Kill Game</small></h1>
				</div>

				<div class="col-md-6 col-lg-6 text-right">
					<!-- <h5 class="padding-top-10 padding-right-5">Howdy User

					<h5 class="padding-right-5"><a href="../traders/logout">[Logout]</a></h5> -->
					


				</div>
			</div>
		</div>
		<div class="nav navbar-nav navbar-default nav-justified ">
			<ul class="navbar-nav nav">
				<li><a href="<?php echo base_url()?>">Home</a></li>
				<li><a href="">What's the Game</a></li>
				<li><a href="">How to Play</a></li>
				<li><a href="">Reviews</a></li>
				<li><a href="">Developers</a></li>
			</ul>
<!-- 
			<ul class="navbar-nav nav pull-right">
				<li><a href=""><em>Your Ranking: 178</em></a></li>
			</ul> -->
		</div>

		<div class="jumbotron-no-bg">
			<br>
			<div class="row">
				<div class="col-md-12 col-lg-12">

					<div class="signup_box width-50">
							<h1 class="text-center">404</h1>
							<h2 class="text-center">Page Not Found</h2>
							<p class="text-center"><a href="<?php echo 	site_url()?>">Go Back</a></p>
						</div>
					
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-6 col-lg-6"> 

					</div>
					<div class="col-md-6 col-lg-6">

					</div>
				</div>
			</div>
		</div>

		<div class="row footer">
			<div class="col-md-12 col-lg-12">
				<p>Copyright &copy; Global Trader 2014</p>
			</div>
		</div>

	</div>

</body>
</html>