body{background: url(/trader/resources/images/body.png);}
.container{max-width: 1020px; background: white;
border-radius: 10px; box-shadow: 0px 0px 10px #9BC5EF;
margin-top:  20px; margin-bottom: 20px;}
a,a:active{color: #444;}
a.btn:visited{color: white;}
a:hover, a:focus, a:select{color: #444; border: none;}
.signup_box{margin: 10px 0px; padding: 10px;
background: #F8F8F8}
.signup_box h2{margin: 0; padding: 0; font-size: 22px;
border-bottom: 2px solid #fff; padding-bottom: 5px; margin-bottom: 4px;}
.block{display: inline-block; border: none;}
.block:focus{
	border: 0!important;
 box-shadow: none!important;
outline: 0!important;}
.form-control{margin: 5px 0px; 	}

.jumbotron{margin-bottom: 0px;
background: url(/trader/resources/images/g.png) no-repeat right top #f5f5f5;
background-size: 50%
}
.jumbotron-no-bg{background: none!important;
padding: 40px 10px 20px;}
.page-header{margin: 0; padding: 15px 0px!important;}
.page-header h1 a{color: #666; text-decoration: none;}
.footer{/*background: #999999; color: #fff; */
	border-top: 1px solid #ccc;
border-radius:  0px 0px 10px  10px; padding: 10px 0px;  margin: 0px; }
.footer p{padding: 0; margin: 0;}
.navbar-default{border-top: 1px solid #ddd;
/*border-right: 1px solid #ddd; border-left: 1px solid #ddd;*/
border-bottom: 4px solid #ddd;
text-transform: capitalize; font-size: 16px;}

.navbar-nav > li > a{padding: 10px 15px; 
	border-right: 2px solid #eee;  border-left: 1px solid #ddd}
	.navbar-nav li>a:first-child{border-left: none}
.navbar-nav  li  a:hover{background: #eee!important; }
.statistics h5{font-weight: bold; font-size: 15px;}



.width-50{width: 50%; margin: 0 auto;}
.width-50 div{width: 90%; margin: 8px auto; }
.width-50 label{width: 16%; padding-right: 5px}
.padding-top-10{padding-top: 10px;}
.padding-top-5{padding-top: 5px;}
.padding-right-5{ padding-right: 5px;}

/*maps*/
.asiabg{background: url('/trader/resources/images/map/asia.jpg') no-repeat;}


.quantity{margin: 0;;}
.statistics{padding-top: 40px; padding-right: 30px}
#notycontainer{
  float: right;
    margin: 5px auto 20px;
    text-align: right;
    width: 80%;
    }
 div#notylog{
  float: right;
    margin: 15px auto 20px;
    text-align: right;
    height: auto;
    width: 60%;
    }
 .noty_inline_layout_container li{margin-bottom: 5px;}

 .buttons{clear: both;}
 .reduce_padding{padding: 5px 0px; margin: 3px 0px;}

 #bankdiv {background: #f8f8f8; padding: 10px; margin-bottom: 10px;}
 #bankdiv h4{margin: 0; padding: 0; font-size: 22px; font-weight: bold;}
 #loandiv {background: #f8f8f8; padding: 10px; margin-bottom: 10px;}
 #loandiv h4{margin: 0; padding: 0; font-size: 22px; font-weight: bold;}
 hr{margin: 8px 0px;}

 .wagon{margin: 25px auto 5px;}
 .wagon h4{margin: 0; padding: 0;}
 .bbank{margin-top: 0px; margin-bottom: 5px;}